@charset "utf-8";
.table{
	width: 100%;
	border-collapse: collapse;
}
.table-bordered{
	border: 1px solid #ddd;
}
.table-bordered td, .table-bordered th{
	border: 1px solid #ddd;
	padding: 5px;
	
}